<div class="secondary-color" id="flip-card-container">
    <div class="card secondary-color" id="card" #card>
        <div class="card-front secondary-color" id="card-front">
            <div class="card-front-header" id="card-front-header">
                <img class.sm="card-front-header-img-sm"  *ngIf="frontCard.headerType=='img'" md-card-image [src] = "frontCard.headerContent" alt="Background Photo">
                <span *ngIf="frontCard.headerType=='text'" class="card-front-header-text">{{frontCard.headerContent}}</span>  
            </div>
            <div class="card-front-avatar" id="card-front-avatar">
                <img class="card-front-avatar-img" *ngIf="frontCard.avatarType=='img'" [src] = "frontCard.avatarContent" alt="Avatar" class="about-me-card-avatar">                    
                <span class="card-front-avatar-text" *ngIf="frontCard.avatarType=='text'">{{frontCard.avatarContent}}</span>
            </div>
            <div class="card-front-title" id="card-front-title">
                <p class="card-front-title-p">
                    <span>{{frontCard.bodyTitle}}</span>
                </p>
            </div>
            <div class="card-front-description" id="card-front-description">
                <p *ngFor="let description of frontCard.bodyDescription">
                    <span>{{description}}</span>
                </p>
            </div>
            <div>
                <button md-raised-button class="card-front-flip-btn primary-color" (click)="flip()">{{frontCard.frontBtnLabel}}</button>                    
            </div>
        </div>
        <div class="card-back secondary-color" id="card-back">
            <div class="card-back-title">  
                <p>
                    <span>{{backCard.bodyTitle}}</span>
                </p>
            </div>
            <div class="card-back-description" id="card-back-description">
                <p *ngFor="let description of backCard.bodyDescription">
                    <span>{{description}}</span>
                </p>
            </div>
            <!-- action buttons -->
            <div class="card-back-action">
                <button md-raised-button class="primary-color card-back-action-btn">{{backCard.actionBtnLabel}}</button>    
                <button md-raised-button class="primary-color card-back-action-btn-1">{{backCard.actionBtn1Label}}</button>                
            </div>
            <div>
                <button md-raised-button class="card-back-flip-btn primary-color" (click)="unflip()">{{backCard.backBtnLabel}}</button>                    
            </div>
        </div>
    </div>
</div>