/* You can add global styles to this file, and also import other style files */

body {
    font-family: "Roboto", 'Helvetica Neue, Helvetica, Arial';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    background: #5CDB95;
}

.site-background {
    background: #5CDB95; 
}

.primary-color {
    background: #05386B;
    color:#ffffff !important;
}

.secondary-color {
    background: #EDF5E1;
    color: #05386B !important;    
}

.primary-background {
    background: #05386B;
    color:#ffffff;
}

.secondary-background {
    background: #5CDB95;
}

.about-me-card {
    margin: 25px 0;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
    border-radius: 6px;
    color: rgba(0,0,0,.87);
    background: #EDF5E1;
}

.about-me-card-div-upper {
    height: 135px;
    overflow: hidden;
}


.about-me-card-div-lower {
    border-radius: 50%;
    display: block;
    height: 120px;
    margin: -55px auto 0;
    overflow: hidden;
    width: 120px;
}

.about-me-card-div-lower:hover {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -o-transform: scale(2);
}

.about-me-card-avatar {
    background: none repeat scroll 0 0 #EDF5E1;
    width: 100%;
}


.empty-div {
    height:20px;
    background-color: #5CDB95;
}