<!-- the contact items will display in a single row in smaller screens with smaller icons
    while in the large screens will display in different rows -->
<div class="container" fxLayout="row" 
fxLayoutAlign="space-around"  *ngIf="isInitialized == true">

    <!-- repeat for every navigation item -->
    <div fxFlex="{{contactColumnWidth}}%" *ngFor="let contact of contacts">
            <a md-icon-button (click)="onContactClick(contact)" >
                <i [class]="contact.icon" aria-hidden="true"></i>
                <span fxHide.xs="true">{{contact.title}}</span>
                </a>                    
    </div>
    
</div>