<div class="container" fxLayout="row" fxLayout.lt-md="column" *ngIf="isInitialized == true">
        <div fxFlex="50%" *ngFor="let showcase of showcaseList">
                <div class="showcase-container secondary-color" class.lt-sm="showcase-container-xs secondary-color">
                        <div class="showcase-header" class.lt-sm="showcase-header-xs"> 
                                <img [src]="showcase.icon" class="showcase-image" class.lt-sm="showcase-image-xs">
                        </div>       
                        <div class="showcase-body" class.lt-sm="showcase-body-xs"> 
                                <span class="showcase-body-header">{{showcase.title}}</span> 
                                <p>
                                        {{showcase.description}}
                                </p>
                                <p>
                                        {{showcase.description2}}
                                </p>       
                                
                        </div>  
                        <div class="showcase-demo">
                                <a>
                                        <img [src]="showcase.demoicon" class="showcase-demo-icon">
                                </a>
                        </div>     
                        <div class="showcase-footer" class.lt-sm="showcase-footer-xs"> 
                                
                                <div class="showcase-rating">
                                        <i class="fa fa-star fa-lg" aria-hidden="true"></i> 
                                        <span>{{showcase.rating}}</span>                               
                                </div>
                                <div class="showcase-downloads">
                                        <i class="fa fa-download fa-lg" aria-hidden="true"></i>
                                        <span>{{showcase.downloads}}</span>                               
                                </div>                                
                                
                        </div>       
                </div>
        </div>
</div>