<div class="container" fxLayout="column">
    <div fxFlex ="space-around" class="primary-color">
       <!-- navigation -->   
      <navigation-list>
      </navigation-list>
    </div>
    <div fxFlex="space-around" class="site-background">
        <!-- router outlet-->
        <router-outlet></router-outlet>
    </div>
    <div class="empty-div">
    </div>
    <div fxFlex ="space-around" class="primary-color">
    <!-- contact -->
      <contact-list>
      </contact-list>
    </div>
</div>

