<!-- for smaller screens -->
<div *ngIf="isInitialized == true">
                
        <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center">
                <div fxFlex="100%">
                        <md-toolbar class="primary-color">Career Timeline</md-toolbar>                
                </div>
        </div>

        <!-- highlights -->
        <div class="container" fxLayout="row" fxLayout.xs="column"  *ngFor="let workexp of workExpList">
                <div fxFlex="25%" fxFlex.xs="100%" *ngFor="let stickynotetext of workexp.highlights">
                        <sticky-note [stickynotetext]="stickynotetext" stickynoteclass="sticky-note-yellow"></sticky-note>
                </div>
        </div>


        <div class="container" fxLayout="row" fxLayout.xs="column">
                <div fxFlex="100%" >
                        <md-toolbar class="primary-color">Highlights</md-toolbar>                
                </div>
        </div>

        <!-- key highlights -->
        <div class="container" fxLayout="row" fxLayout.xs="column">
                <div fxFlex="30%" fxFlex.xs="100%" *ngFor="let stickynotetext of keyHighlights">
                        <sticky-note [stickynotetext]="stickynotetext" stickynoteclass="sticky-note-red"></sticky-note>
                </div>
        </div>                
</div>