.article-image {
    height: 300px; 
    background: #EDF5E1;
    color: #05386B !important;
    border-bottom: 2px solid #05386B;
}

.article-image-xs {
    height: 100px;
}

.avatar {
    height: 60%;
    margin: 15%;
}

.article-body {
    height: 300px;
    background: #EDF5E1;
    color: #05386B !important;  
    border-bottom: 2px solid #05386B;
}

.article-body-xs {
    height: 320px;
    background: #EDF5E1;
    color: #05386B !important;  
    border-bottom: 2px solid #05386B;
}

.article-title {
    height: 40px;
    padding-top: 5px;
    font-size: 24px;
    font-weight: 600;
    color: #333333;
}

.article-timeline {
    height: 30px;
}

.article-description {
    height: 65px;
}

.article-description-xs {
    height: 105px;
}

.article-keywords {
    height: 75px;
}

.article-action-bar {
    height: 50px;
}

.article-keyword-chip {
}

.action-btn-left {
    display: inline-block;
}

.action-btn-left-xs {
    display: inline-block;
}

.action-btn-right-xs {
    float: right;
    margin-right: 20px;
}

.action-btn-right {
    float: right;
    margin-right: 20px;
}
