
<div *ngIf="isInitialized == true">
    <!-- published articles -->
    <div class="container" fxLayout="column" *ngFor="let article of publishedArticles">
        <div fxFlex="50%">
            <flip-card [frontCard]="article.frontCard" [backCard]="article.backCard" class="flip-card" ></flip-card>        
        </div>
    </div>

    <!-- unpublished articles -->
    <div class="container" fxLayout="column" *ngFor="let article of unpublishedArticles">
        <div fxFlex="50%">
            <flip-card [frontCard]="article.frontCard" [backCard]="article.backCard" class="flip-card" ></flip-card>        
        </div>
    </div>
</div>
