<div class="container" fxLayout.gt-xs="row" fxLayout.lt-md="column" fxLayoutGap="20px" *ngIf="isInitialized == true">
    <!-- image -->
    <div fxFlex.gt-xs="30%" fxFlex.lt-sm="100%" fxLayoutAlign="stretch">
            <div class="follow-me-card">
                <md-card *ngIf="isContactInitialized == true" class="follow-me-card">
                        <md-card-header>
                            <!-- the tentative techie icon comes here -->
                            <div md-card-avatar class="example-header-image"></div>
                            <md-card-title>Follow Me</md-card-title>
                        </md-card-header>
        
                        <!-- different follow me btns come here --> 
                        <md-card-content>
                            <p *ngFor="let contact of contacts">
                                <a md-fab [class]="contact.name">
                                    <i [class]="contact.icon" aria-hidden="true"></i>
                                </a>
                                <span>{{contact.title}}</span>
                            </p>
                        </md-card-content>
                    </md-card>
            </div>
    </div>
   
    <!-- Flip Card-->
    <div fxFlex.gt-xs="30%" fxFlex.lt-sm="100%" fxLayoutAlign="stretch">
        <flip-card [frontCard]="frontCard" [backCard]="backCard" class="flip-card"></flip-card>
    </div>
    
    <!-- Front End Developer Chips-->
    <div fxFlex.gt-xs="30%" fxFlex.lt-sm="100%" fxLayoutAlign="stretch">
            <div class="image-chip-card-container">
                <div class="image-chip-title">
                    <span>Full Stack Developer</span>
                </div>
                    <div class="image-chip-card" *ngFor="let keyword of keywords">
                        <image-chip [imagechip]="keyword"></image-chip>
                </div>
            </div>
    </div>
</div>