<div class="container" fxLayout="column"  *ngIf="isInitialized == true">
    <!-- image -->
    <div fxFlex="100%">
            <img [src] = "dashboardDetails.photo1">
    </div>
    <!-- heading -->
    <div fxFlex="100%">
        <p>
            <img [src] = "dashboardDetails.logo1">
        </p>
        <p>
            {{dashboardDetails.title}}
        </p>
        <p>
            {{dashboardDetails.description1}}
        </p>
        <p>
            {{dashboardDetails.description2}}
        </p>
    </div>
    <!-- git hub button -->
    <div fxFlex="100%">
            <button md-raised-button (click)="onGithubBtnClick(dashboardDetails)">GITHUB</button>
        </div>
    <!-- chips -->
    <div fxFlex="100%">
        <md-chip-list>
                <md-chip *ngFor="let keyword of dashboardDetails.highlights">
                        {{keyword}}
                </md-chip>
        </md-chip-list>
    </div>
</div>